.plant__name {
  margin: 53px 0 0;
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 81px;
  line-height: 100px;
  letter-spacing: .24em;
}


@media screen and (max-width: 1440px) {
  .plant__name {
    font-size: 70px;
    line-height: 84px;
    margin: 44px 0 0;
  }
}