.plants__space-dark {
  grid-area: space-dark;
  width: 137px;
  background-color: #4A4A4A;
}

@media screen and (max-width: 1440px) {
  .plants__space-dark {
    width: 110px;
  }
}

@media screen and (max-width: 1280px) {
  .plants__space-dark {
    width: 94px;
  }
}