.plants__space-dark {
  grid-area: space-dark;
  width: 137px;
  background-color: #4A4A4A;
}

@media screen and (max-width: 1440px) {
  .plants__space-dark {
    width: 110px;
  }
}

@media screen and (max-width: 1280px) {
  .plants__space-dark {
    width: 94px;
  }
}

@media screen and (max-width: 1150px) {
  .plants__space-dark {
    width: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .plants__space-dark {
    width: 74px;
  }
}

@media screen and (max-width: 900px) {
  .plants__space-dark {
    width: 50px;
  }
}

@media screen and (max-width: 834px) {
  .plants__space-dark {
    width: 40px;
  }
}