.banner__image {
  max-height: 100%;
  max-width: 40%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 29%;
}

@media screen and (max-width: 900px) {
  .banner__image {
    height: 84%;
    max-width: 50%;
    right: 18%;
    object-fit: fill;
  }
}

@media screen and (max-width: 834px) {
  .banner__image {
    height: 77%;
    max-width: 50%;
    right: 12%;
    object-fit: fill;
  }
}

@media screen and (max-width: 810px) {
  .banner__image {
    height: 100%;
    max-width: 100%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 50%;
  }
}

@media screen and (max-width: 420px) {
  .banner__image {
    height: 85%;
  }
}