.banner__image {
  max-height: 100%;
  max-width: 40%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 29%;
}

@media screen and (max-width: 900px) {
  .banner__image {
    height: 84%;
    max-width: 50%;
    right: 18%;
    object-fit: fill;
  }
}

@media screen and (max-width: 834px) {
  .banner__image {
    height: 77%;
    max-width: 50%;
    right: 12%;
    object-fit: fill;
  }
}