.related-goods {
  padding-top: 230px;
  display: grid;
  justify-content: center;
  grid-template-rows: minmax(min-content, max-content) min-content;
  grid-template-columns: min-content repeat(2, min-content);
  column-gap: 10px;
  row-gap: 88px;
}

@media screen and (max-width: 1440px) {
  .related-goods {
    padding-top: 180px;
    row-gap: 62px;
  }
}

@media screen and (max-width: 1280px) {
  .related-goods {
    padding-top: 160px;
    row-gap: 46px;
  }
}

@media screen and (max-width: 1024px) {
  .related-goods {
    padding-top: 100px;
    row-gap: 35px;
  }
}

@media screen and (max-width: 900px) {
  .related-goods {
    row-gap: 32px;
  }
}

@media screen and (max-width: 834px) {
  .related-goods {
    row-gap: 28px;
  }
}

@media screen and (max-width: 834px) {
  .related-goods {
    padding-top: 140px;
    row-gap: 44px;
  }
}