.vase {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 740px) {
  .vase {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 520px) {
  .vase {
    gap: 20px;
  }
}

@media screen and (max-width: 420px) {
  .vase {
    flex-direction: column;
    gap: 10px;
  }
}