.social-navigation {
  grid-area: navigation;
  background-color: #4A4A4A;
  padding-left: 43px;
  padding-top: 324px;
}

@media screen and (max-width: 1440px) {
  .social-navigation {
    padding-left: 35px;
    padding-top: 250px;
  }
}

@media screen and (max-width: 1280px) {
  .social-navigation {
    padding-left: 30px;
    padding-top: 210px;
  }
}

@media screen and (max-width: 768px) {
  .social-navigation {
    padding-left: 26px;
    padding-top: 265px;
  }
}

@media screen and (max-width: 740px) {
  .social-navigation {
    padding-left: 22px;
    padding-top: 210px;
  }
}

@media screen and (max-width: 594px) {
  .social-navigation {
    padding-left: 22px;
    padding-top: 192px;
  }
}