.plants__name {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 81px;
  line-height: 100px;
  letter-spacing: .24em;
  margin: 0 0 .1em;
}

@media screen and (max-width: 1500px) {
  .plants__name {
    font-size: 65px;
    line-height: 77px;
  }
}

@media screen and (max-width: 1440px) {
  .plants__name {
    font-size: 58px;
    line-height: 70px;
  }
}

@media screen and (max-width: 1280px) {
  .plants__name {
    font-size: 56px;
    line-height: 66px;
  }
}

@media screen and (max-width: 1150px) {
  .plants__name {
    font-size: 54px;
    line-height: 64px;
  }
}

@media screen and (max-width: 1024px) {
  .plants__name {
    font-size: 52px;
    line-height: 61px;
  }
}

@media screen and (max-width: 900px) {
  .plants__name {
    font-size: 48px;
    line-height: 56px;
  }
}

@media screen and (max-width: 834px) {
  .plants__name {
    font-size: 42px;
    line-height: 47px;
  }
}

@media screen and (max-width: 768px) {
  .plants__name {
    font-size: 48px;
    line-height: 56px;
  }
}