.plants__name {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 81px;
  line-height: 100px;
  letter-spacing: .24em;
  margin: 0 0 .1em;
}

@media screen and (max-width: 1500px) {
  .plants__name {
    font-size: 65px;
    line-height: 77px;
  }
}

@media screen and (max-width: 1440px) {
  .plants__name {
    font-size: 58px;
    line-height: 70px;
  }
}

@media screen and (max-width: 1280px) {
  .plants__name {
    font-size: 56px;
    line-height: 66px;
  }
}