.content {
  width: 100%;
  padding-bottom: 177px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1440px) {
  .content {
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding-bottom: 174px;
  }
}

@media screen and (max-width: 594px) {
  .content {
    padding-bottom: 130px;
  }
}

@media screen and (max-width: 520px) {
  .content {
    padding-bottom: 104px;
  }
}

@media screen and (max-width: 360px) {
  .content {
    padding-bottom: 124px;
  }
}