.plants__margin-top {
  grid-area: margin-top;
  height: 141px;
  background-color: #4A4A4A;
}

@media screen and (max-width: 1440px) {
  .plants__margin-top {
    height: 110px;
  }
}

@media screen and (max-width: 1280px) {
  .plants__margin-top {
    height: 94px;
  }
}

@media screen and (max-width: 1150px) {
  .plants__margin-top {
    height: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .plants__margin-top {
    height: 74px;
  }
}

@media screen and (max-width: 900px) {
  .plants__margin-top {
    height: 50px;
  }
}