.vase__description {
  padding: 24px 12%;
  margin: 0;
  font-family: Mukta Vaani;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #4A4A4A;
}

@media screen and (max-width: 1440px) {
  .vase__description {
    font-size: 19px;
    line-height: 28px;
  }
}

@media screen and (max-width: 1280px) {
  .vase__description {
    padding: 19px 12%;
    font-size: 17px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .vase__description {
    padding: 16px 12%;
    font-size: 16px;
    line-height: 23px;
  }
}

@media screen and (max-width: 900px) {
  .vase__description {
    padding: 14px 12%;
    font-size: 15px;
    line-height: 21px;
  }
}