.vase__description {
  padding: 24px 50px;
  margin: 0;
  font-family: Mukta Vaani;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: center;
  color: #4A4A4A;
}