.plants {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content min-content min-content max-content 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
  "margin-top         margin-top  margin-top   margin-top  margin-top          margin-top"
  "navigation         image       space-dark   plant-info  next-btn            margin-right-dark"
  "...                image       ...          text-btn    ...                 ...";
}