.banner__tagline {
  margin: 16px 0 0;
  font-family: 'Akronim', sans-serif;
  font-size: 48px;
  line-height: 55px;
  font-weight: 400;
  color: #7A797A;
}

@media screen and (max-width: 1440px) {
  .banner__tagline {
    font-size: 39px;
    line-height: 28px;
  }
}

@media screen and (max-width: 1280px) {
  .banner__tagline {
    font-size: 36px;
    line-height: 17px;
  }
}

@media screen and (max-width: 1024px) {
  .banner__tagline {
    font-size: 34px;
  }
}

@media screen and (max-width: 768px) {
  .banner__tagline {
    font-size: 30px;
    line-height: 15px;
  }
}