.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 52%;
  left: 43px;
}

@media screen and (max-width: 1280px) {
  .social-list {
    left: 30px;
    gap: 12px;
  }
}

@media screen and (max-width: 768px) {
  .social-list {
    left: 26px;
  }
}

@media screen and (max-width: 740px) {
  .social-list {
    left: 22px;
  }
}

@media screen and (max-width: 594px) {
  .social-list {
    gap: 10px;
  }
}

@media screen and (max-width: 520px) {
  .social-list {
    margin: 140px 20px;
    position: sticky;
    top: 30%;
  }
}