.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 1280px) {
  .social-navigation {
    gap: 12px;
  }
}