.plants__next-btn {
  grid-area: next-btn;
  width: 32px;
  height: 100%;
  box-sizing: border-box;
  border: none;
  background: #4A4A4A;
  background-image: url(../../../images/next-btn.svg);
  background-position: 100% 37%;
  background-repeat: no-repeat;
  padding-left: 123px;
}