.plants__info {
  grid-area: plant-info;
  background: #4A4A4A;
  color: #FFFFFF;
  padding: 54px 0 135px;
}

@media screen and (max-width: 1440px) {
  .plants__info {
    padding: 45px 0 110px;
  }
}