.plants__info {
  grid-area: plant-info;
  background: #4A4A4A;
  color: #FFFFFF;
  padding: 54px 0 135px;
}

@media screen and (max-width: 1440px) {
  .plants__info {
    padding: 45px 0 110px;
  }
}

@media screen and (max-width: 1280px) {
  .plants__info {
    padding: 32px 0 90px;
  }
}

@media screen and (max-width: 1024px) {
  .plants__info {
    padding: 22px 0 82px;
  }
}

@media screen and (max-width: 900px) {
  .plants__info {
    padding-bottom: 76px;
  }
}

@media screen and (max-width: 834px) {
  .plants__info {
    padding-bottom: 66px;
  }
}

@media screen and (max-width: 768px) {
  .plants__info {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 740px) {
  .plants__info {
    padding-top: 8px;
  }
}

@media screen and (max-width: 594px) {
  .plants__info {
    padding-top: 4px;
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 520px) {
  .plants__info {
    padding: 18px 0 26px;
  }
}