.plant__img {
  min-height: calc(100% + 135px + 160px);
  max-height: calc(100% + 135px + 160px + 62px); /* 135 - plants bottom padding, 160 - a bit less than absolute-bottom of view-gallery-btn, 62 - view-gallery-btn margin-bottom */
  margin-bottom: 70px;
  width: 640px;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1440px) {
  .plant__img {
    width: 550px;
    min-height: calc(100% + 125px + 160px);
    max-height: calc(100% + 125px + 160px + 62px);
  }
}