.plant__img {
  min-height: calc(100% + 135px + 215px + 62px); /* 135 - bottom padding, 215 - view-gallery-btn bottom absolute, 62 - view-gallery-btn margin-bottom */
  max-height: calc(100vh - 141px - 70px); /* 141 - plants top padding, 70 - margin-bottom */
  margin-bottom: 70px;
  width: 640px;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
}