.plant__img {
  max-height: calc(100vh - 141px - 70px); /* 141 = plants top padding, 70 - bottom margin, used only here */
  width: 640px;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
}