.plant__text {
  color: #FFF;
  display: flex;
  flex-direction: column;
  gap: 9px;
  max-width: 433px;
  margin: 0 93px 31px 777px;
}

@media screen and (max-width: 1440px) {
  .plant__text {
    max-width: 350px;
    margin: 0 70px 31px 650px;
  }
}