.footer {
  padding: 0 107px;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 1440px) {
  .footer {
    padding-left: 85px;
  }
}

@media screen and (max-width: 1280px) {
  .footer {
    padding-left: 78px;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    padding-left: 44px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-left: 40px;
  }
}

@media screen and (max-width: 740px) {
  .footer {
    padding-left: 66px;
  }
}

@media screen and (max-width: 594px) {
  .footer {
    padding-left: 94px;
  }
}

@media screen and (max-width: 520px) {
  .footer {
    padding-left: 50px;
  }
}

@media screen and (max-width: 454px) {
  .footer {
    padding-left: 24px;
  }
}