.related-goods__btn {
  grid-row: 2;
  grid-column: 3;
  margin-left: 14px;
}

@media screen and (max-width: 1440px) {
  .related-goods__btn {
    margin-left: 8px;
  }
}

@media screen and (max-width: 834px) {
  .related-goods__btn {
    margin-left: 4px;
  }
}

@media screen and (max-width: 740px) {
  .related-goods__btn {
    grid-row: 3;
    grid-column: 2;
    justify-self: end;
    align-self: end;
    margin: 60px 0 0;
  }
}

@media screen and (max-width: 594px) {
  .related-goods__btn {
    margin-top: 50px;
  }
}

@media screen and (max-width: 520px) {
  .related-goods__btn {
    margin-top: 46px;
  }
}