.header__item-img {
    height: 40px;
    margin: 0;
  }

@media screen and (max-width: 1440px) {
  .header__item-img {
    height: 32px;
  }
}

@media screen and (max-width: 1280px) {
  .header__item-img {
    height: 28px;
  }
}